<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".cs" #>
<#@ Themis processor="ThemisDirectiveProcessor" requires="fileName='%MODELFILENAME%'" #>

Generated material. Generating code in C#.

<#
  // When you change the DSL Definition, some of the code below may not work.

  foreach (ObjectElement element in this.MappingModel.ObjectElements)
  {
#>
	<#= element.Name #>
<#    
  }
#>